body {
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1{
    color:grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 25px;
    
}
#highlight {
    background-color: yellow;
}
footer {
    width: 300px;
    margin: auto;
}


